.container {
  text-align: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 45%;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

img {
  width: 100%;
  height: auto;
}
